<% @genres.each do |genre| %>
<div class="genre">
	<h1>
		<%= genre.genre %>
		<%= image_tag 'spinner.gif', :class => "spinner"%>
		<button class="btn primary show_chart">Graf</button>
	</h1>
	<div id="<%= genre.id %>" class="top_chart"></div>
	<table class="bordered-table sort zebra-striped">
	  <thead>
	    <tr>
	      <th>Knjiga</th>
	      <th>Prodaja</th>
	    </tr>
	  </thead>
	  <tbody>
			<% genre.sub_genres.each do |sub_g| %>
				<tr>
	        <td><%= sub_g.genre  %></td>
	        <td><%= sub_g.sales %></td>
	      </tr>
			<% end %>
	  </tbody>
	</table>
	</div>
<% end %>
